body, html {
  margin: 40px;
  background-color: black;
  color: white;
  font-size: 150%;
}

select, input {
  font-size: 100%;
}

input[readonly] {
  background-color: gray;
}

html {
  /* height: 100%; */
  text-align: center;
}

body {
  height: inherit;
  /* overflow: hidden; */
  margin-top:0;
}

.center {
  background: black;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1, p {
  font-family: sans-serif;
  text-align: center;
  padding: 0 0px;
  margin-top: 0;
}

h3 {
  text-align: left;
  /* padding: 0 40px; */
  margin-bottom:0px;
}

#cross {
  display: none;
  font-size: 120%;
}

#text {
  display: none;
  font-size: 120%;
}

div {
  height: 100px;
  overflow: auto;
  position: absolute;
  bottom: 0px;
  right: 0;
  left: 0;
  background-color: rgba(255,255,255,0.2);
}

ul {
  margin: 0;
  text-align: left;
  margin-left: 50px
}

p, li {
  text-align: left;
  /* padding: 0px 48px; */
}

.hints span {
  text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}

button, input[type=submit] {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
}

button:hover, input[type=submit]:hover {
  background-color: #5CBF60; /* light green */
  color: #ffffff;
}

button:disabled, input[type=submit]:disabled {
  background-color: #888888; /* Gray */
  color: #BBBBBB;
}

img {
  padding: 15px 0px;
}

a {
  color: red;
}

.errorlist {
  color: red;
  list-style-type: none;
}

#id_post_task_comments {
  width: 100%;
}
