{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Error</title>

    <link rel="stylesheet" href="{% static 'speech/style.css' %}">
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
      <h1>Sorry, an internal error has occurred!</h1>

      <img src="{% static 'speech/images/dead-computer.png' %}" alt="Error">

      <h2>You may try returning to the <a href="{% url 'speech:index' %}">start</a> and trying again.<h2>

      <!-- <p>If you believe this was in error, you may contact us at ________.</p> -->
  </body>
</html>
