{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <title>Health and Demographics Questionaire</title>

    <link rel="stylesheet" href="{% static 'speech/style.css' %}">
  </head>

  <body>
      <h1>Health and Demographics Questionaire</h1>

      <h2>Great! We will start with a health and demographics questionaire. Please complete the form below and click Submit.</h2>

      <form id="myform" action="{% url 'speech:healthAndDemographicsForm' %}" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Submit">
      </form>

  </body>

  <script>
    // Pull computer information
    document.getElementById("id_computer_os").value = navigator.platform;
    document.getElementById("id_computer_os").disabled = true;
    document.getElementById("id_computer_screen_width_px").value = screen.width;
    document.getElementById("id_computer_screen_width_px").disabled = true;
    document.getElementById("id_computer_screen_height_px").value = screen.height;
    document.getElementById("id_computer_screen_height_px").disabled = true;

    $('#myform').submit(function() {
      console.log("Undisabling form")
      document.getElementById("id_computer_os").disabled = false;
      document.getElementById("id_computer_screen_width_px").disabled = false;
      document.getElementById("id_computer_screen_height_px").disabled = false;
      return true; // return false to cancel form action
  });
  </script>
</html>
