{% load static %}

﻿<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Stroop Task</title>

    <link rel="stylesheet" href="{% static 'speech/style.css' %}">
  </head>

  <body>
    <h1>Stroop Task</h1>


    <h3>Instructions:</h3>
    <p>You will see words on the screen written in different color ink. When a word is shown, say the color of the <b>ink</b> out loud (not what the text says). This task will take 15-20 minutes to complete.</p>


    <h3>Minimum requirements:</h3>
    <ul>
      <li id="browserRequirement">Google Chrome web browser</li>
      <ul id="browserRequirementDetail" style="display: none; color: red;">
        <li>You can install Google Chrome from Google's website, <a href="https://www.google.com/chrome/">here</a>. Once installed, reopen <a href="{% url 'speech:index' %}">this webpage</a> in Google Chrome.</li>
      </ul>
      <li id="micRequirement">Microphone</li>
      <ul id="micRequirementDetail" style="display: none; color: red;">
        <li>At the top-right of the window, next to the URL, click the camera icon and allow the microphone. Then refresh the page. It should look like below:</li>
        <!-- <img src="{% static 'speech/images/Microphone_blocked.png' %}" alt="Microphone Blocked"> -->
        <img src="{% static 'speech/images/Microphone_allowed-annotated.png' %}" alt="Microphone Allowed">
      </ul>
      <li>If using a laptop, plug it into a wall outlet or make sure you have enough battery for 30 minutes</li>
      <li>Proficient in English</li>
      <li>Quiet surroundings</li>
    </ul>
    <br>

    <p>When prompted, click "Allow Microphone."</p>

    <!-- <a href="{% url 'speech:practice' %}"><button id="startButton" type="button">Continue Instructions</button> -->
    <button id="startButton" type="button" onclick="onButtonClick();">Click and then say "Continue"</button>
    <!-- <input id="startButton" type="button" value="Click and say Continue" onclick="onButtonClick();" /> -->

  </body>

  <script src="{% static 'speech/indexScript.js' %}"></script>
</html>
