{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Informed Consent Document</title>

    <link rel="stylesheet" href="{% static 'speech/style.css' %}">
  </head>

  <body>
      <h1>Informed Consent Document</h1>

      <p>Below is our informed consent document. Once you have read the document, click Sign to continue. To ensure you read the document, you will not be allowed to sign until {{ readDurationSec }} seconds have expired. If you do not wish to participate, you may close out of the browser tab at this time (you will not be paid).</p>

      <iframe src="{% static 'speech/OnlineStroopExemptInformationSheet.pdf' %}" width="100%" height="350px"></iframe>

      <form action="{% url 'speech:informedConsentDocument' %}" method="post">
        <table>
          <tr valign="top">
            {% csrf_token %}
            <td><input id="signButton" type="submit" value="Sign" style="padding: 6px; width: 180px"></td>
            <td>Signing status: {{ signingStatus }}</td>
          </tr>
        </table>
      </form>

      <br>

      <a href="{% url 'speech:healthAndDemographicsForm' %}"><button id="continueButton" type="button">Continue</button></a>

  </body>

  <script>
    var READ_DURATION = {{ readDurationSec }}; // sec
    var countdown = READ_DURATION;

    // Lockout controls by default
    document.getElementById("signButton").disabled = true;
    // document.getElementById("id_informed_consent_signature").disabled = true;

    if ("{{ consentSigned }}" == "True")
    {
      document.getElementById("continueButton").disabled = false;
    }
    else
    {
      document.getElementById("continueButton").disabled = true;
      // document.getElementById("id_informed_consent_signature").disabled = false;

      // Timeout to enforce reading of document
      updateCountdown();
    }

    function updateCountdown()
    {
      document.getElementById("signButton").value = "Sign (" + countdown + ")";
      countdown -= 1;
      if (countdown >= 0)
      {
        window.setTimeout(updateCountdown, 1000);
      }
      else
      {
        enableSigning();
      }
    }

    function enableSigning()
    {
      document.getElementById("signButton").disabled = false;
      document.getElementById("signButton").value = "Sign";
    }
  </script>
</html>
