{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Complete</title>

    <link rel="stylesheet" href="{% static 'speech/style.css' %}">
  </head>

  <body>
      <h1>Done!</h1>

      <p>Good work! You have completed the task. If you had any difficulty during the task, please explain in the text box below. Click Continue once you are done to receive credit on Prolific.</p>

      <br>

      <form action="{% url 'speech:postTaskSurvey' %}" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Continue">
      </form>

  </body>
</html>
