{% load static %}

﻿<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Stroop Task</title>

    <link rel="stylesheet" href="{% static 'speech/style.css' %}">
  </head>

  <body>
      <h1>Stroop Task Practice</h1>

      <h3>Instructions:</h3>
      <p>You will see words presented in different colored ink. It is your job to ignore the word and say the ink color aloud.</p>
      <p>The 4 colors you will see are:</p>
      <ul><font color="red" style="background-color:red;"><b>____</b></font> If you see a word written in this color, please say "RED".</ul>
      <ul><font color="DodgerBlue" style="background-color:DodgerBlue;"><b>____</b></font> If you see a word written in this color, please say "BLUE".</ul>
      <ul><font color="green" style="background-color:green;"><b>____</b></font> If you see a word written in this color, please say "GREEN".</ul>
      <ul><font color="yellow" style="background-color:yellow;;"><b>____</b></font> If you see a word written in this color, please say "YELLOW".</ul>

      <br>

      <p>Remember to say the color of the ink out loud, not the word.</p>

      <p>Note: If the colors are too dark to see, please turn up the brightness of your monitor.</p>

      <p>We will start with 18 practice trials. The first 9 practice trials will have feedback, afterwards you will be on your own.</p>

      <a href="{% url 'speech:initialize' %}"><button id="startButton" type="button">Start Practice</button></a>
    </body>

    <script src="{% static 'speech/indexScript.js' %}"></script>
</html>
