{% load static %}

﻿<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Practice Complete</title>

    <link rel="stylesheet" href="{% static 'speech/style.css' %}">
  </head>

  <body>
      <h1>Practice Complete</h1>

      <p style="text-align:center;">You have completed the practice trials. Click the button below to start the actual trials.</p>

      <a href="{% url 'speech:practiceCompleteAck' %}"><button id="startButton" type="button">Start Trials</button></a>
    </body>

    <video width="1" height="1" loop muted autoplay>
      <source src="{% static 'speech/noop.mp4' %}" type="video/mp4">
      Your browser does not support the video tag. You will have to move the mouse periodically to prevent the screen from turning off during the task.
    </video>

    <script src="{% static 'speech/indexScript.js' %}"></script>
</html>
