{% load static %}

﻿<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Practice Retry</title>

    <link rel="stylesheet" href="{% static 'speech/style.css' %}">
  </head>

  <body>
      <h1>Practice Complete</h1>

      <p>You have completed the practice session. Unfortunately, you did not recieve an accuracy of {{ percent_required }}% or higher and will need to repeat the practice session.</p>

      <br>

      <p>If you had significant issues with the speech recognition during practice, please try (1) moving closer to the computer, (2) speaking louder and clearer, and (3) making sure the microphone is unobstructed.</p>

      <a href="{% url 'speech:practice' %}"><button id="startButton" type="button">Click here to return to practice</button></a>
    </body>

    <video width="1" height="1" loop muted autoplay>
      <source src="{% static 'speech/noop.mp4' %}" type="video/mp4">
      Your browser does not support the video tag. You will have to move the mouse periodically to prevent the screen from turning off during the task.
    </video>

    <script src="{% static 'speech/indexScript.js' %}"></script>
</html>
