{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Complete</title>

    <link rel="stylesheet" href="{% static 'speech/style.css' %}">
  </head>

  <body>
      <h1>Success! Thank you for participating!</h1>

      <img src="{% static 'speech/images/thumbs_up.png' %}" alt="Success Image">

      <br><br>

      <p id="countdownText" style="text-align: center;"></p>

  </body>

  <script>
    var countdown = 3;

    setTimeout("location.href = '{{ prolificCompletionLink }}';",countdown * 1000);

    updateCountdown();

    function updateCountdown()
    {
      document.getElementById("countdownText").innerHTML = "You will be redirected in " + countdown + " seconds back to {{ testingSite }}.";
      countdown -= 1;
      if (countdown > 0)
      {
        window.setTimeout(updateCountdown, 1000);
      }
    }
  </script>
</html>
