{% load static %}

﻿<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Stroop Task</title>

    <link rel="stylesheet" href="{% static 'speech/style.css' %}">
  </head>

  <body>
    <div class="center">
      <!-- Task-related elements -->
      <p id="cross" style="position:absolute;">+</p>
      <p id="text" style="position:absolute; color:white;"><b>{{ trial.word }}</b></p>
      <p id="output" class="output" style="display:block; position:relative; top: 100px;"><em></em></p>

      <!-- Fullscreen task -->
      <button id="goFS">Please click here to fullscreen the window.</button>

      <!-- Break-related elements -->
      <p id="breakText" style="position:absolute; display:none; padding:200px; text-align:center;">You have now completed half of the experiment. The task will resume after a {{ breakDurationSec }} second break.</p>
      <button id="endBreakButton" style="display:none; position:relative; top: 100px">Continue</button>
    </div>

    <video width="1" height="1" loop muted autoplay>
      <source src="{% static 'speech/noop.mp4' %}" type="video/mp4">
      Your browser does not support the video tag. You will have to move the mouse periodically to prevent the screen from turning off during the task.
    </video>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      function diagnostics(response) {
        if (hasHint)
        {
          // Show diagnostics during practice
          if (inkColor == response.toUpperCase())
          {
            diagnostic.textContent = 'Correct!';
            console.log("Correct");
          }
          else
          {
            if (response.toUpperCase() == "ERROR_TIMEOUT_MAX_MS_PER_WORD" || response.toUpperCase() == "ERROR_TIMEOUT_MAX_MS_RECOGNITION")
            {
              diagnostic.textContent = 'No response detected. Please speak loud and clear.';
              console.log("No response (hasHint)");
            }
            else
            {
              diagnostic.textContent = 'Incorrect. You said \"' + response.toUpperCase() + '\". The correct response is \"' + inkColor + '\".';
              console.log("Incorrect");
            }
          }

          window.setTimeout(nextTrial, DURATION_PRACTICE_REFRESH_WAIT);
        }
        else
        {
          // Always provide feedback if they timed out (no speech detected)
          if (response.toUpperCase() == "ERROR_TIMEOUT_MAX_MS_PER_WORD" || response.toUpperCase() == "ERROR_TIMEOUT_MAX_MS_RECOGNITION")
          {
            // Re-enable diagnostics for this trial
            diagnostic.style.display = "block";
            diagnostic.textContent = 'No response detected. Please speak loud and clear.';
            console.log("No response (no hint)");

            // Longer refresh
            window.setTimeout(nextTrial, DURATION_PRACTICE_REFRESH_WAIT);
          }
          else
          {
            // Default refresh
            window.setTimeout(nextTrial, DURATION_REFRESH_WAIT);
            console.log("Default trial (no hint)");
          }
        }
      }


      const Color = {
          RED: 'RED',
          BLUE: 'BLUE',
          GREEN: 'GREEN',
          YELLOW: 'YELLOW'
      }

      const Word = {
          RED: 'RED',
          BLUE: 'BLUE',
          GREEN: 'GREEN',
          YELLOW: 'YELLOW',
          BAD: 'BAD',
          POOR: 'POOR',
          LEGAL: 'LEGAL',
          DEEP: 'DEEP'
      }
      var trialList = {{ trialList }};
      var breakTrialNum = {{ breakTrialNum }};
      var trialNum = {{ startingTrialNum }};

      // Break timeout parameters
      var BREAK_DURATION_SEC = {{ breakDurationSec }}; // sec
      var countdown = BREAK_DURATION_SEC;
    </script>

    <script src="{% static 'speech/script.js' %}"></script>
  </body>
</html>
